html {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
}

header {
  height: 100px;
  width: auto;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  transform: translateX(-150%);
  -webkit-animation: ani 1.5s forwards;
          animation: ani 1.5s forwards;
}
@media (max-width: 1000px) {
  header {
    height: 400px;
    display: grid;
    grid-template-columns: 2;
    display: grid;
    grid-template-columns: 100% 0%;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
@-webkit-keyframes ani {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes ani {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateY(0);
  }
}
header .header-bar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 50px;
  padding: 30px;
  font-weight: 500;
  font-size: 16px;
}
header .header-bar div {
  width: 280px;
  height: 40px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1300px) {
  header .header-bar div {
    width: 200px;
  }
}
header .header-bar .brand-name {
  border: none;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
}
header .header-bar .search-box {
  background: #ffffff;
  box-shadow: 0px 15px 50px rgba(46, 131, 158, 0.07);
  border-radius: 10px;
  border: none;
}
@media (max-width: 1000px) {
  header .header-bar .search-box {
    grid-column-start: 1;
    width: 80%;
  }
}
header .header-bar input {
  border: none;
  width: 80%;
  height: 30px;
  outline: none;
}
header .header-bar ::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(23, 23, 24, 0.2);
  opacity: 1; /* Firefox */
}
header .header-bar :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(23, 23, 24, 0.2);
  opacity: 1; /* Firefox */
}
header .header-bar ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(23, 23, 24, 0.2);
  opacity: 1; /* Firefox */
}
header .header-bar button {
  background: #10b981;
  border: none;
  border-radius: 5px;
  height: 25px;
  width: 25px;
}
header .header-bar button img {
  width: 15px;
  height: 15px;
}
header .cart-box {
  border-radius: 30px;
  margin-inline: auto;
  border: 2px #10b981 solid;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}
header .cart-box img {
  margin-right: 10px;
  width: 30px;
  height: 25px;
  transition: all 0.3s;
}
header .cart-box:hover {
  background-color: #10b981;
  color: #f5f5f5;
}
header .cart-box:hover img {
  filter: invert(100%);
}
header .login-box {
  border-radius: 30px;
  text-align: center;
  background-color: #10b981;
  border: none;
  color: #f5f5f5;
  transition: all 0.3s;
  cursor: pointer;
}
header .login-box img {
  margin-right: 10px;
  width: 30px;
  height: 25px;
  transition: all 0.3s;
}
header .login-box:hover {
  background-color: #845ec2;
  color: #f5f5f5;
}
@media (max-width: 1000px) {
  header .login-box {
    grid-column-start: 2;
    grid-row-start: 1;
  }
}

.rectangle {
  height: 80px;
  width: auto;
  background-color: #10b981;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-150%);
  -webkit-animation: rect 1.5s forwards;
          animation: rect 1.5s forwards;
}
@-webkit-keyframes rect {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rect {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateY(0);
  }
}
.rectangle a {
  height: 30px;
  margin: 0 40px;
  width: 90px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  color: #ffffff;
  transition: all 0.3s;
}
.rectangle a:hover {
  color: #ececec;
  margin-bottom: 5px;
  text-shadow: 3px 3px #0e9b6c;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .first-content-box {
  height: 100%;
  display: flex;
  justify-content: space-around;
}
main .first-content-box .first-left-content-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transform: translateY(-150%);
  -webkit-animation: flb 1.5s forwards;
          animation: flb 1.5s forwards;
}
@-webkit-keyframes flb {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes flb {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
main .first-content-box .first-left-content-box h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;
  color: #2b2626;
}
main .first-content-box .first-left-content-box p {
  width: 80%;
}
main .first-content-box .first-left-content-box button {
  background-color: #10b981;
  width: 220px;
  height: 70px;
  border: none;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  color: #ffffff;
  font-family: "Montserrat";
  transition: all 0.3s;
}
main .first-content-box .first-left-content-box button:hover {
  background-color: #12d494;
  width: 230px;
  height: 75px;
  margin-top: 0;
}
main .first-content-box .first-left-content-box-bottom {
  flex-direction: column;
  display: flex;
}
main .first-content-box .first-left-content-box-bottom span {
  display: grid;
  grid-template-columns: [item-1-start] 33px [item-2-start] 33px [item-3-start] 33px [item-1-end] 65px [item-2-end] 130px [item-3-end];
  grid-template-rows: [item-1-start] 50px;
}
main .first-content-box .first-left-content-box-bottom img {
  width: 50px;
  transition: all 0.3s;
  cursor: pointer;
}
main .first-content-box .first-left-content-box-bottom img:hover {
  z-index: 900;
  margin-bottom: 50px;
  width: 70px;
  margin-top: -20px;
}
main .first-content-box .first-left-content-box-bottom a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  color: #2b2626;
}
main .first-content-box .first-right-content-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .first-content-box .first-right-content-box .first-right-content-box-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-150%);
  -webkit-animation: frb 1.5s forwards;
          animation: frb 1.5s forwards;
}
@-webkit-keyframes frb {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes frb {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateY(0);
  }
}
main .first-content-box .first-right-content-box .first-right-content-box-picture img {
  width: 370px;
}
main .extra-section {
  width: auto;
  height: 500px;
  margin-top: 50px;
  background-color: #845ec2;
  display: flex;
  flex-direction: row;
  transform: translateX(-150%);
  -webkit-animation: extra1 2s forwards;
          animation: extra1 2s forwards;
}
@-webkit-keyframes extra1 {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes extra1 {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
main .extra-section .extra-section__left-content {
  width: 55%;
  height: 100%;
}
main .extra-section .extra-section__left-content h5 {
  font-size: 60px;
  text-align: center;
  margin: 30px 0;
  text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  color: #845ec2;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
}
main .extra-section .extra-section__left-content .extra-section__left-content__imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
}
main .extra-section .extra-section__left-content .extra-section__left-content__imgs img {
  width: 190px;
  height: 300px;
  transition: all 0.3s;
}
@media (max-width: 1150px) {
  main .extra-section .extra-section__left-content .extra-section__left-content__imgs img {
    width: 150px;
    height: 250px;
  }
}
main .extra-section .extra-section__left-content .extra-section__left-content__imgs img:hover {
  width: 300px;
  height: 450px;
  z-index: 900;
  margin-top: -120px;
}
main .extra-section .extra-section__left-content .extra-section__left-content__imgs .extra-section__left-content__middle-img {
  margin-top: -40px;
}
main .extra-section .extra-section__left-content .extra-section__left-content__price {
  font-size: 31px;
  text-align: center;
  color: #ffffff;
}
main .extra-section .extra-section__left-content .extra-section__left-content__price span {
  font-weight: 200;
}
main .extra-section .extra-section__left-content .extra-section__left-content__price span strong {
  font-weight: 600;
}
main .extra-section .extra-section__right-content {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main .extra-section .extra-section__right-content .extra-section__right-content__information {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .extra-section .extra-section__right-content .extra-section__right-content__information h4 {
  font-size: 44px;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
}
main .extra-section .extra-section__right-content .extra-section__right-content__information span {
  font-size: 21px;
  color: #f5f5f5;
}
main .extra-section .extra-section__right-content .extra-section__right-content__information .extra-section__right-content__information__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .extra-section .extra-section__right-content .extra-section__right-content__information .extra-section__right-content__information__buttons button {
  background-color: #10b981;
  width: 270px;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 21px;
  color: #f5f5f5;
  transition: all 0.3s;
  cursor: pointer;
}
main .extra-section .extra-section__right-content .extra-section__right-content__information .extra-section__right-content__information__buttons button:hover {
  background-color: #12d494;
  width: 280px;
  height: 65px;
  margin-bottom: -14px;
  margin-right: -15px;
}
main .extra-section .extra-section__right-content .extra-section__right-content__information .extra-section__right-content__information__buttons a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 60px;
  text-align: center;
  color: #f5f5f5;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
}
main .extra-section .extra-section__right-content .extra-section__right-content__information .extra-section__right-content__information__buttons a:hover {
  color: #ececec;
  font-size: 21px;
  text-shadow: 3px 3px #7654ad;
}
main .second-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}
main .second-content-box h3 {
  font-size: 44px;
  font-weight: 600;
  margin-top: 100px;
}
main .second-content-box .second-content-box__top-change {
  width: 400px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .second-content-box .second-content-box__top-change .second-content-box__radio_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 90px;
  font-size: 26px;
  font-weight: 600;
  color: #f5f5f5;
  border-radius: 50%;
}
main .second-content-box .second-content-box__top-change .second-content-box__radio_btn label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 90px;
  border-radius: 50%;
  color: #111111;
  cursor: pointer;
  transition: all 0.3s;
}
main .second-content-box .second-content-box__top-change .second-content-box__radio_btn input[type=radio]:checked + label {
  background-color: #10b981;
  color: #f7f9fc;
}
main .second-content-box .second-content-box__top-change .second-content-box__radio_btn label:hover {
  font-size: 28px;
  width: 220px;
  height: 100px;
  margin: -10px;
}
main .second-content-box .second-content-box__top-change .second-content-box__radio_btn input[type=radio]:disabled + label {
  background: #efefef;
}
main .second-content-box .second-content-box__carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}
main .second-content-box .second-content-box__carousel .second-content-box__carousel__arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  transition: all 0.3s;
}
main .second-content-box .second-content-box__carousel .second-content-box__carousel__arrows img {
  width: 15px;
  height: 30px;
  transition: all 0.3s;
}
main .second-content-box .second-content-box__carousel .second-content-box__carousel__arrows:hover img {
  width: 30px;
  height: 50px;
}
main .second-content-box .second-content-box__carousel .second-content-box__carousel__block {
  width: 360px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
@media (max-width: 1000px) {
  main .second-content-box .second-content-box__carousel .second-content-box__carousel__block {
    height: 350px;
  }
}
main .second-content-box .second-content-box__carousel .second-content-box__carousel__block div {
  width: 80%;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  transition: all 0.3s;
  cursor: pointer;
}
@media (max-width: 1000px) {
  main .second-content-box .second-content-box__carousel .second-content-box__carousel__block div {
    width: 70%;
    height: 300px;
  }
}
main .second-content-box .second-content-box__carousel .second-content-box__carousel__block div img {
  width: 250px;
  height: 250px;
}
@media (max-width: 1000px) {
  main .second-content-box .second-content-box__carousel .second-content-box__carousel__block div img {
    width: 200px;
    height: 200px;
  }
}
main .second-content-box .second-content-box__carousel .second-content-box__carousel__block div:hover {
  background-color: rgb(245, 245, 245);
  width: 390px;
  height: 390px;
}
main .second-content-box .second-content-box__carousel .second-content-box__carousel__block div:hover span {
  display: none;
}
main .second-content-box .second-content-box__carousel .second-content-box__carousel__block div:hover img {
  width: 380px;
  height: 380px;
}
main .second-content-box .second-content-box__carousel .second-content-box__carousel__block .second-content-box__carousel__block__main-left {
  background-color: #d8f1e3;
}
main .second-content-box .second-content-box__carousel .second-content-box__carousel__block .second-content-box__carousel__block__main-middle {
  background-color: #c9f2ff;
}
main .second-content-box .second-content-box__carousel .second-content-box__carousel__block .second-content-box__carousel__block__main-right {
  background-color: #e5d5ff;
}
main .second-content-box .second-content-box__carousel .second-content-box__carousel__block .second-content-box__carousel__block__main-left__info {
  background-color: #f5f5f5;
  margin-bottom: 15px;
  justify-content: space-around;
}
@media (max-width: 1000px) {
  main .second-content-box .second-content-box__carousel .second-content-box__carousel__block .second-content-box__carousel__block__main-left__info {
    width: 85%;
  }
}
main .second-content-box .second-content-box__carousel .second-content-box__carousel__block .second-content-box__carousel__block__main-left__info .second-content-box__carousel__block__main-left__info__name {
  font-size: 23px;
  font-weight: 300;
}
@media (max-width: 1000px) {
  main .second-content-box .second-content-box__carousel .second-content-box__carousel__block .second-content-box__carousel__block__main-left__info .second-content-box__carousel__block__main-left__info__name {
    font-size: 18px;
    font-weight: 300;
  }
}
main .second-content-box .second-content-box__carousel .second-content-box__carousel__block .second-content-box__carousel__block__main-left__info span {
  font-size: 15px;
}
main .second-content-box .second-content-box__carousel .second-content-box__carousel__block .second-content-box__carousel__block__main-left__info span img {
  width: 15px;
  height: 15px;
}
@media (max-width: 1000px) {
  main .second-content-box .second-content-box__carousel .second-content-box__carousel__block .second-content-box__carousel__block__main-left__info span img {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 1000px) {
  main .second-content-box .second-content-box__carousel .second-content-box__carousel__block .second-content-box__carousel__block__main-left__info span {
    font-size: 12px;
  }
}
main .second-content-box .second-content-box__carousel .second-content-box__carousel__block .second-content-box__carousel__block__main-left__info .second-content-box__carousel__block__main-left__info__price {
  font-size: 20px;
  font-weight: 500;
}
main .second-content-box .second-content-box__carousel .second-content-box__carousel__block button {
  background-color: #10b981;
  width: 80%;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 21px;
  color: #f5f5f5;
  transition: all 0.3s;
  cursor: pointer;
}
@media (max-width: 1000px) {
  main .second-content-box .second-content-box__carousel .second-content-box__carousel__block button {
    width: 70%;
    height: 40px;
    font-size: 18px;
  }
}
main .second-content-box .second-content-box__carousel .second-content-box__carousel__block button:hover {
  background-color: #12d494;
  width: 300px;
  height: 65px;
}
main .the-third-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}
main .the-third-content-box h3 {
  font-size: 44px;
  font-weight: 600;
  margin-top: 100px;
}
main .the-third-content-box .the-third-content-box__top-change {
  width: 400px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .the-third-content-box .the-third-content-box__top-change .the-third-content-box__radio_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 90px;
  font-size: 26px;
  font-weight: 600;
  color: #f5f5f5;
  border-radius: 50%;
}
main .the-third-content-box .the-third-content-box__top-change .the-third-content-box__radio_btn label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 90px;
  border-radius: 50%;
  color: #111111;
  cursor: pointer;
  transition: all 0.3s;
}
main .the-third-content-box .the-third-content-box__top-change .the-third-content-box__radio_btn input[type=radio]:checked + label {
  background-color: #10b981;
  color: #f7f9fc;
}
main .the-third-content-box .the-third-content-box__top-change .the-third-content-box__radio_btn label:hover {
  font-size: 28px;
  width: 220px;
  height: 100px;
  margin: -10px;
}
main .the-third-content-box .the-third-content-box__top-change .the-third-content-box__radio_btn input[type=radio]:disabled + label {
  background: #efefef;
}
main .the-third-content-box .the-third-content-box__carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  transition: all 0.3s;
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__arrows img {
  width: 15px;
  height: 30px;
  transition: all 0.3s;
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__arrows:hover img {
  width: 30px;
  height: 50px;
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block {
  width: 360px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
@media (max-width: 1000px) {
  main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block {
    height: 350px;
  }
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block div {
  width: 80%;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  transition: all 0.3s;
  cursor: pointer;
}
@media (max-width: 1000px) {
  main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block div {
    width: 70%;
    height: 300px;
  }
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block div img {
  width: 250px;
  height: 250px;
}
@media (max-width: 1000px) {
  main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block div img {
    width: 200px;
    height: 200px;
  }
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block div:hover {
  background-color: rgb(245, 245, 245);
  width: 390px;
  height: 390px;
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block div:hover span {
  display: none;
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block div:hover img {
  width: 380px;
  height: 380px;
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block .the-third-content-box__carousel__block__main-left {
  background-color: #e0efff;
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block .the-third-content-box__carousel__block__main-middle {
  background-color: #e8f9ff;
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block .the-third-content-box__carousel__block__main-right {
  background-color: #d3fbfb;
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block .the-third-content-box__carousel__block__main-left__info {
  background-color: #f5f5f5;
  margin-bottom: 15px;
  justify-content: space-around;
}
@media (max-width: 1000px) {
  main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block .the-third-content-box__carousel__block__main-left__info {
    width: 85%;
  }
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block .the-third-content-box__carousel__block__main-left__info .the-third-content-box__carousel__block__main-left__info {
  font-size: 23px;
  font-weight: 300;
}
@media (max-width: 1000px) {
  main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block .the-third-content-box__carousel__block__main-left__info .the-third-content-box__carousel__block__main-left__info {
    font-size: 18px;
    font-weight: 300;
  }
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block .the-third-content-box__carousel__block__main-left__info span {
  font-size: 15px;
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block .the-third-content-box__carousel__block__main-left__info span img {
  width: 15px;
  height: 15px;
}
@media (max-width: 1000px) {
  main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block .the-third-content-box__carousel__block__main-left__info span img {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 1000px) {
  main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block .the-third-content-box__carousel__block__main-left__info span {
    font-size: 12px;
  }
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block .the-third-content-box__carousel__block__main-left__info .the-third-content-box__carousel__block__main-left__info__name {
  font-size: 23px;
  font-weight: 300;
}
@media (max-width: 1000px) {
  main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block .the-third-content-box__carousel__block__main-left__info .the-third-content-box__carousel__block__main-left__info__name {
    font-size: 18px;
    font-weight: 300;
  }
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block .the-third-content-box__carousel__block__main-left__info span {
  font-size: 15px;
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block .the-third-content-box__carousel__block__main-left__info span img {
  width: 15px;
  height: 15px;
}
@media (max-width: 1000px) {
  main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block .the-third-content-box__carousel__block__main-left__info span img {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 1000px) {
  main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block .the-third-content-box__carousel__block__main-left__info span {
    font-size: 12px;
  }
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block .the-third-content-box__carousel__block__main-left__info .the-third-content-box__carousel__block__main-left__info__price {
  font-size: 20px;
  font-weight: 500;
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block button {
  background-color: #10b981;
  width: 80%;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 21px;
  color: #f5f5f5;
  transition: all 0.3s;
  cursor: pointer;
}
@media (max-width: 1000px) {
  main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block button {
    width: 70%;
    height: 40px;
    font-size: 18px;
  }
}
main .the-third-content-box .the-third-content-box__carousel .the-third-content-box__carousel__block button:hover {
  background-color: #12d494;
  width: 300px;
  height: 65px;
}
main .second-extra-section .second-extra-section__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .second-extra-section .second-extra-section__header h3 {
  font-size: 44px;
  font-weight: 600;
  margin-top: 100px;
}
main .second-extra-section .second-extra-section__main {
  width: auto;
  height: 500px;
  margin-top: 50px;
  background-color: #845ec2;
  display: flex;
  flex-direction: row;
}
main .second-extra-section .second-extra-section__main .second-extra-section__main_left {
  width: 50%;
  height: 100%;
}
main .second-extra-section .second-extra-section__main .second-extra-section__main_left .second-extra-section__main_left_imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
main .second-extra-section .second-extra-section__main .second-extra-section__main_left .second-extra-section__main_left_imgs img {
  width: 250px;
  height: 350px;
  transition: all 0.3s;
  border-radius: 90px;
}
main .second-extra-section .second-extra-section__main .second-extra-section__main_left .second-extra-section__main_left_imgs img:hover {
  width: 300px;
  height: 450px;
  z-index: 900;
}
@media (max-width: 1150px) {
  main .second-extra-section .second-extra-section__main .second-extra-section__main_left .second-extra-section__main_left_imgs img {
    width: 220px;
    height: 300px;
  }
}
main .second-extra-section .second-extra-section__main .second-extra-section__main_left .second-extra-section__main_left_imgs .second-extra-section__main_left_imgs-left {
  margin-top: 30px;
}
main .second-extra-section .second-extra-section__main .second-extra-section__main_left .second-extra-section__main_left_imgs .second-extra-section__main_left_imgs-right {
  margin-top: 120px;
}
main .second-extra-section .second-extra-section__main .second-extra-section__main_left .second-extra-section__main_left_imgs .second-extra-section__main_left_imgs-right:hover {
  margin-top: 20px;
}
main .second-extra-section .second-extra-section__main .second-extra-section__main_right {
  width: 50%;
  height: 80%;
}
main .second-extra-section .second-extra-section__main .second-extra-section__main_right .second-extra-section__main_right__information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
main .second-extra-section .second-extra-section__main .second-extra-section__main_right .second-extra-section__main_right__information h4 {
  font-size: 60px;
  text-align: center;
  color: #f5f5f5;
  font-weight: 600;
  margin-bottom: 0;
}
main .second-extra-section .second-extra-section__main .second-extra-section__main_right .second-extra-section__main_right__information span {
  color: #f5f5f5;
}
main .second-extra-section .second-extra-section__main .second-extra-section__main_right .second-extra-section__main_right__information .second-extra-section__main_right__information_text {
  margin: 20px 0;
  font-size: 21px;
  font-weight: 400;
}
main .second-extra-section .second-extra-section__main .second-extra-section__main_right .second-extra-section__main_right__information .second-extra-section__main_right__information_price {
  margin: 20px 0;
  font-size: 31px;
  font-weight: 200;
}
main .second-extra-section .second-extra-section__main .second-extra-section__main_right .second-extra-section__main_right__information .second-extra-section__main_right__information_price strong {
  font-weight: 600;
}
main .second-extra-section .second-extra-section__main .second-extra-section__main_right .second-extra-section__main_right__information .second-extra-section__main_right__information__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .second-extra-section .second-extra-section__main .second-extra-section__main_right .second-extra-section__main_right__information .second-extra-section__main_right__information__buttons button {
  background-color: #10b981;
  width: 270px;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 21px;
  color: #f5f5f5;
  transition: all 0.3s;
  cursor: pointer;
}
main .second-extra-section .second-extra-section__main .second-extra-section__main_right .second-extra-section__main_right__information .second-extra-section__main_right__information__buttons button:hover {
  background-color: #12d494;
  width: 280px;
  height: 65px;
  margin-bottom: -14px;
  margin-right: -15px;
}
main .second-extra-section .second-extra-section__main .second-extra-section__main_right .second-extra-section__main_right__information .second-extra-section__main_right__information__buttons a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 60px;
  margin-right: 100px;
  text-align: center;
  color: #f5f5f5;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
}
main .second-extra-section .second-extra-section__main .second-extra-section__main_right .second-extra-section__main_right__information .second-extra-section__main_right__information__buttons a:hover {
  color: #ececec;
  font-size: 21px;
  text-shadow: 3px 3px #7654ad;
}

footer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
footer hr {
  width: 100%;
  margin-top: 0;
  border: #111111 1px solid;
}
footer .footer-top {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: auto;
}
footer .footer-top__items {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 220px;
  width: 50%;
  align-items: center;
  margin-bottom: 0;
}
footer .footer-top__items p {
  font-size: 22px;
  width: 400;
}
footer .footer-top__items button {
  height: 50px;
  width: 170px;
  margin-left: 50px;
  background-color: #10b981;
  border: none;
  border-radius: 7px;
  font-size: 17px;
  font-weight: 700;
  color: #f5f5f5;
  transition: all 0.3s;
  cursor: pointer;
}
footer .footer-top__items button:hover {
  background-color: #12d494;
  width: 230px;
  height: 65px;
  margin-bottom: -14px;
  margin-right: -15px;
}
footer .footer-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer-main h6 {
  font-size: 17px;
  color: #10b981;
  font-weight: 400;
}
footer .footer-main p {
  font-size: 15px;
  font-weight: 400;
  color: #111111;
  cursor: pointer;
}
footer .footer-main p:hover {
  text-shadow: 1px 1px #d6d6d6;
}
footer .footer-main .footer-main__first-content {
  width: 25%;
}
footer .footer-main .footer-main__first-content h5 {
  font-size: 22px;
  font-weight: 400;
}
footer .footer-main .footer-main__first-content .footer-main__search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer-main .footer-main__first-content .footer-main__search-form input {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #f5f5f5;
  border-bottom: #10b981 1px solid;
  height: 27px;
  outline: none;
}
footer .footer-main .footer-main__first-content .footer-main__search-form button {
  height: 30px;
  width: 30px;
  background-color: #10b981;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}
footer .footer-main .footer-main__first-content .footer-main__search-form button:hover {
  width: 40px;
  height: 40px;
  margin-top: -10px;
}
footer .footer-main .footer-main__first-content .footer-main__search-form button:hover img {
  width: 10px;
  height: 15px;
}
footer .footer-main .footer-main__first-content .footer-main__search-form button img {
  width: 7px;
  height: 10px;
  transition: all 0.3s;
}
footer .footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  cursor: pointer;
}
footer .footer-bottom:hover {
  text-shadow: 1px 1px #d6d6d6;
}
footer .footer-bottom .footer-bottom__left-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  transition: all 0.3s;
}
footer .footer-bottom .footer-bottom__right-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
}
footer .footer-bottom .footer-bottom__right-content .footer-bottom__facebook-logo {
  width: 8px;
  transition: all 0.3s;
}
footer .footer-bottom .footer-bottom__right-content .footer-bottom__facebook-logo:hover {
  width: 17px;
  height: 30px;
  margin-top: -30px;
}
footer .footer-bottom .footer-bottom__right-content img {
  width: 15px;
  height: 15px;
  transition: all 0.3s;
}
footer .footer-bottom .footer-bottom__right-content img:hover {
  width: 50px;
  height: 50px;
  margin-top: -30px;
}/*# sourceMappingURL=style.css.map */