html {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
}

header {
  height: 100px;
  width: auto;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
}
header .header-bar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 50px;
  padding: 30px;
  font-weight: 500;
  font-size: 16px;
}
header .header-bar div {
  width: 280px;
  height: 40px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-bar .brand-name {
  border: none;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  margin-right: 20%;
}
header .header-bar .search-box {
  background: #ffffff;
  box-shadow: 0px 15px 50px rgba(46, 131, 158, 0.07);
  border-radius: 10px;
  border: none;
}
header .header-bar input {
  border: none;
  width: 80%;
  height: 30px;
  color: rgba(62, 62, 68, 0.2);
}
header .header-bar button {
  background: #10b981;
  border: none;
  border-radius: 5px;
  height: 25px;
  width: 25px;
}
header .header-bar button img {
  width: 15px;
  height: 15px;
}
header .cart-box {
  border-radius: 30px;
  margin-inline: auto;
  border: 2px #10b981 solid;
  text-align: center;
}
header .cart-box img {
  margin-right: 10px;
  width: 30px;
  height: 25px;
}
header .login-box {
  border-radius: 30px;
  text-align: center;
  background-color: #10b981;
  border: none;
  color: #f5f5f5;
}
header .login-box img {
  margin-right: 10px;
  width: 30px;
  height: 25px;
}

.rectangle {
  height: 80px;
  width: auto;
  background-color: #10b981;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle a {
  height: 30px;
  margin: 0 40px;
  width: 90px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  color: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.first-content-box {
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.first-content-box .first-left-content-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.first-content-box .first-left-content-box h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;
  color: #2b2626;
}
.first-content-box .first-left-content-box p {
  width: 80%;
}
.first-content-box .first-left-content-box button {
  background-color: #10b981;
  margin: 15% 10%;
  width: 220px;
  height: 70px;
  border: none;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  color: #ffffff;
  font-family: "Montserrat";
}
.first-content-box .first-left-content-box-bottom {
  flex-direction: column;
  display: flex;
}
.first-content-box .first-left-content-box-bottom span {
  display: grid;
  grid-template-columns: [item-1-start] 33px [item-2-start] 33px [item-3-start] 33px [item-1-end] 65px [item-2-end] 130px [item-3-end];
  grid-template-rows: [item-1-start] 50px;
}
.first-content-box .first-left-content-box-bottom img {
  width: 50px;
}
.first-content-box .first-left-content-box-bottom a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  color: #2b2626;
}
.first-content-box .first-right-content-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-content-box .first-right-content-box .first-right-content-box-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-content-box .first-right-content-box .first-right-content-box-picture img {
  width: 370px;
}

.extra-section {
  width: auto;
  height: 500px;
  margin-top: 50px;
  background-color: #845ec2;
  display: flex;
  flex-direction: row;
}
.extra-section .extra-section__left-content {
  width: 55%;
  height: 100%;
}
.extra-section .extra-section__left-content h5 {
  font-size: 60px;
  text-align: center;
  margin: 30px 0;
  text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  color: #845ec2;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
}
.extra-section .extra-section__left-content .extra-section__left-content__imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
}
.extra-section .extra-section__left-content .extra-section__left-content__imgs img {
  width: 190px;
  height: 300px;
}
.extra-section .extra-section__left-content .extra-section__left-content__imgs .extra-section__left-content__middle-img {
  margin-top: -40px;
}
.extra-section .extra-section__left-content .extra-section__left-content__price {
  font-size: 31px;
  text-align: center;
  color: #ffffff;
}
.extra-section .extra-section__left-content .extra-section__left-content__price span {
  font-weight: 200;
}
.extra-section .extra-section__left-content .extra-section__left-content__price span strong {
  font-weight: 600;
}
.extra-section .extra-section__right-content {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.extra-section .extra-section__right-content .extra-section__right-content__information {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.extra-section .extra-section__right-content .extra-section__right-content__information h4 {
  font-size: 44px;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
}
.extra-section .extra-section__right-content .extra-section__right-content__information span {
  font-size: 21px;
  color: #f5f5f5;
}
.extra-section .extra-section__right-content .extra-section__right-content__information .extra-section__right-content__information__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.extra-section .extra-section__right-content .extra-section__right-content__information .extra-section__right-content__information__buttons button {
  background-color: #10b981;
  width: 270px;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 21px;
  color: #f5f5f5;
}
.extra-section .extra-section__right-content .extra-section__right-content__information .extra-section__right-content__information__buttons a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 60px;
  text-align: center;
  color: #f5f5f5;
  font-weight: 600;
}

.second-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}
.second-content-box h3 {
  font-size: 44px;
  font-weight: 600;
}
.second-content-box .second-content-box__top-change {
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.second-content-box .second-content-box__top-change .second-content-box__top-change__left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  font-size: 26px;
  font-weight: 600;
  color: #f5f5f5;
  background-color: #10b981;
  border-radius: 50%;
}
.second-content-box .second-content-box__top-change .second-content-box__top-change__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  font-size: 26px;
  font-weight: 600;
}
.second-content-box .second-content-box__carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.second-content-box .second-content-box__carousel {
  width: 100%;
}
.second-content-box .second-content-box__carousel .second-content-box__carousel__arrows {
  width: 50px;
  height: 50px;
  margin: 200px 0;
}
.second-content-box .second-content-box__carousel .second-content-box__carousel__block {
  width: 360px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.second-content-box .second-content-box__carousel .second-content-box__carousel__block div {
  width: 90%;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}
.second-content-box .second-content-box__carousel .second-content-box__carousel__block div img {
  width: 250px;
  height: 250px;
}
.second-content-box .second-content-box__carousel .second-content-box__carousel__block .second-content-box__carousel__block__main-left {
  background-color: #ecfef4;
}
.second-content-box .second-content-box__carousel .second-content-box__carousel__block .second-content-box__carousel__block__main-middle {
  background-color: #c9f2ff;
}
.second-content-box .second-content-box__carousel .second-content-box__carousel__block .second-content-box__carousel__block__main-right {
  background-color: #e5d5ff;
}
.second-content-box .second-content-box__carousel .second-content-box__carousel__block .second-content-box__carousel__block__main-left__info {
  background-color: #f5f5f5;
  margin-bottom: 10px;
  justify-content: space-around;
}
.second-content-box .second-content-box__carousel .second-content-box__carousel__block .second-content-box__carousel__block__main-left__info .second-content-box__carousel__block__main-left__info__name {
  font-size: 23px;
  font-weight: 300;
}
.second-content-box .second-content-box__carousel .second-content-box__carousel__block .second-content-box__carousel__block__main-left__info span {
  font-size: 15px;
}
.second-content-box .second-content-box__carousel .second-content-box__carousel__block .second-content-box__carousel__block__main-left__info span img {
  width: 15px;
  height: 15px;
}
.second-content-box .second-content-box__carousel .second-content-box__carousel__block .second-content-box__carousel__block__main-left__info .second-content-box__carousel__block__main-left__info__price {
  font-size: 20px;
  font-weight: 500;
}
.second-content-box .second-content-box__carousel .second-content-box__carousel__block button {
  background-color: #10b981;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 21px;
  color: #f5f5f5;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */