html {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
  cursor: default;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  height: 100px;
  width: auto;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;

  transform: translateX(-150%);
  animation: ani 1.5s forwards;
  @media (max-width: 1000px) {
    height: fit-content;
  }
  @keyframes ani {
    0% {
      transform: translateX(-150%);
    }
    100% {
      transform: translateY(0);
      // ddd
    }
  }

  .header-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 50px;
    padding: 30px;
    font-weight: 500;
    font-size: 16px;
    @media (max-width: 1000px) {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-gap: 10px;
      justify-content: center;
      height: fit-content;
    }

    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
    }
    div {
      width: 280px;
      height: 40px;
      margin: 0 20px;
      display: flex;
      align-items: center;
      // justify-content: center;
      @media (max-width: 1300px) {
        width: 200px;
      }
    }
    .brand-name {
      border: none;
      font-family: "Montserrat";
      font-style: italic;
      font-weight: 400;
      font-size: 40px;
      line-height: 49px;
      // margin-right: 20%;
      @media (max-width: 1000px) {
        align-self: center;
        justify-self: center;
      }
    }
    .search-box {
      background: #ffffff;
      box-shadow: 0px 15px 50px rgba(46, 131, 158, 0.07);
      border-radius: 10px;
      border: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      @media (max-width: 1000px) {
        // grid-column-start: 1;
        width: 80%;
        // grid-column: 1/4;
        justify-self: center;
      }
    }
    input {
      border: none;
      width: 70%;
      height: 30px;

      // color: rgba(62, 62, 68, 0.2);
      outline: none;
    }
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba(23, 23, 24, 0.2);
      opacity: 1; /* Firefox */
    }
    button {
      background: #10b981;
      border: none;
      border-radius: 5px;
      height: 25px;
      width: 25px;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 15px;
        height: 15px;
      }
    }
  }
  .cart-box {
    border-radius: 30px;
    margin-inline: auto;
    border: 2px #10b981 solid;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: start;
    a {
      width: 70%;
    }
    img {
      margin-right: 10px;
      margin-left: 10px;
      width: 30px;
      height: 25px;
      transition: all 0.3s;
      // filter: invert(100%);

      &:hover {
        // color: #f5f5f5;
        // filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
        //   brightness(95%) contrast(80%);
      }
    }
    &:hover {
      background-color: #10b981;
      color: #f5f5f5;

      img {
        filter: invert(100%);
      }
    }
  }
  // .cart-box :hover {
  //
  // }

  .login-box {
    border-radius: 30px;
    text-align: center;
    background-color: #10b981;
    border: none;
    color: #f5f5f5;
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: start;

    a {
      width: 70%;
    }
    img {
      margin-right: 10px;
      margin-left: 10px;
      width: 30px;
      height: 25px;
      transition: all 0.3s;
    }

    &:hover {
      background-color: #845ec2;
      color: #f5f5f5;
    }

    @media (max-width: 1000px) {
      grid-column-start: 2;
      grid-row-start: 1;
    }
  }
}
.rectangle {
  height: 80px;
  width: auto;
  background-color: #10b981;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translateX(-150%);
  animation: rect 1.5s forwards;
  @media (max-width: 400px) {
    border-radius: 10px;
    height: 60px;
  }

  @keyframes rect {
    0% {
      transform: translateX(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  a {
    height: 30px;
    margin: 0 auto;
    // width: 90px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    color: #ffffff;
    //  color: #111111;
    transition: all 0.3s;
    @media (max-width: 400px) {
      font-size: 16px;
    }

    &:hover {
      color: #ececec;
      margin-bottom: 5px;
      text-shadow: 3px 3px #0e9b6c;
    }
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .first-content-box {
    height: 100%;
    display: flex;
    justify-content: space-around;
    @media (max-width: 400px) {
      border-radius: 10px;
    }

    .first-left-content-box {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      transform: translateY(-150%);
      animation: flb 1.5s forwards;

      @keyframes flb {
        0% {
          transform: translateY(150%);
        }
        100% {
          transform: translateY(0);
        }
      }
      h1 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 78px;
        color: #2b2626;
        @media (max-width: 700px) {
          font-size: 45px;
          line-height: 50px;
        }
        @media (max-width: 650px) {
          font-size: 30px;
          line-height: 40px;
        }
      }
      p {
        width: 80%;
      }
      button {
        background-color: #10b981;
        margin-bottom: 30px;
        width: 220px;
        height: 70px;
        border: none;
        border-radius: 10px;
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        color: #ffffff;
        font-family: "Montserrat";
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
          background-color: #12d494;
          position: relative;
          color: #efefef;
        }
        @media (max-width: 650px) {
          width: 180px;
          height: 50px;
          font-size: 16px;
        }
        @media (max-width: 400px) {
          &:hover {
            background-color: #12d494;
            width: 180px;
            height: 50px;
            font-size: 18px;
            text-shadow: 1px 1px #111111;
          }
        }
      }
    }
    .first-left-content-box-bottom {
      flex-direction: column;
      display: flex;

      span {
        display: grid;
        grid-template-columns: [item-1-start] 33px [item-2-start] 33px [item-3-start] 33px [item-1-end] 65px [item-2-end] 130px [item-3-end];
        grid-template-rows: [item-1-start] 50px;
      }
      img {
        width: 50px;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
          z-index: 900;
          margin-bottom: 50px;
          width: 70px;

          margin-top: -20px;
        }
      }
      a {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        color: #2b2626;
        @media (max-width: 700px) {
          font-size: 18px;
        }
      }
    }
    .first-right-content-box {
      display: flex;
      align-items: center;
      justify-content: center;

      .first-right-content-box-picture {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(-150%);
        animation: frb 1.5s forwards;

        @keyframes frb {
          0% {
            transform: translateX(150%);
          }
          100% {
            transform: translateY(0);
          }
        }
        img {
          width: 370px;
          @media (max-width: 700px) {
            width: 275px;
          }
          @media (max-width: 650px) {
            width: 200px;
          }
          @media (max-width: 400px) {
            width: 170px;
          }
        }
      }
    }
  }
  .extra-section {
    width: auto;
    height: 500px;
    margin-top: 50px;
    background-color: #845ec2;
    display: flex;
    flex-direction: row;
    transform: translateX(-150%);
    animation: extra1 2s forwards;
    justify-content: space-between;

    @media (max-width: 900px) {
      height: 400px;
    }
    @media (max-width: 650px) {
      flex-direction: column;
      height: fit-content;
    }
    @media (max-width: 400px) {
      border-radius: 10px;
    }

    @keyframes extra1 {
      0% {
        transform: translateY(150%);
      }
      100% {
        transform: translateY(0);
      }
    }
    .extra-section__left-content {
      width: 40%;
      height: 100%;
      @media (max-width: 650px) {
        width: auto;
      }
      h5 {
        font-size: 60px;
        text-align: center;
        margin: 30px 0;
        text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
          1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
        color: #845ec2;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        @media (max-width: 900px) {
          font-size: 40px;
        }
      }
      .extra-section__left-content__imgs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 15px;
        img {
          width: 190px;
          height: 300px;
          transition: all 0.3s;
          @media (max-width: 1150px) {
            width: 150px;
            height: 250px;
          }
          @media (max-width: 900px) {
            width: 120px;
            height: 200px;
          }
          @media (max-width: 750px) {
            width: 100px;
            height: 150px;
          }
          @media (max-width: 650px) {
            justify-content: space-around;
          }

          &:hover {
            width: 300px;
            height: 450px;
            z-index: 900;
            margin-top: -120px;
            @media (max-width: 400px) {
              width: 150px;
              height: 220px;
              margin: -40px 5px 20px;
            }
          }
        }
        .extra-section__left-content__middle-img {
          margin-top: -40px;
        }
      }
      .extra-section__left-content__price {
        font-size: 31px;
        text-align: center;
        color: #ffffff;
        @media (max-width: 650px) {
          margin-bottom: 20px;
        }
        @media (max-width: 400px) {
        }
        span {
          font-weight: 200;
          @media (max-width: 400px) {
            font-size: 24px;
          }
          strong {
            font-weight: 600;
          }
        }
      }
    }
    .extra-section__right-content {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      @media (max-width: 650px) {
        width: auto;
      }

      .extra-section__right-content__information {
        width: 80%;
        height: 60%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 900px) {
          height: 80%;
        }
        h4 {
          font-size: 44px;
          color: #ffffff;
          margin: 0 auto;
          text-align: center;
          @media (max-width: 1000px) {
            font-size: 36px;
          }
          @media (max-width: 700px) {
            font-size: 30px;
          }
          @media (max-width: 650px) {
            margin-bottom: 20px;
          }
          @media (max-width: 400px) {
            font-size: 26px;
          }
        }
        span {
          font-size: 21px;
          color: #f5f5f5;
          @media (max-width: 1000px) {
            font-size: 18px;
          }
          @media (max-width: 700px) {
            font-size: 14px;
          }
          @media (max-width: 650px) {
            margin-bottom: 20px;
          }
        }
        .extra-section__right-content__information__buttons {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          @media (max-width: 650px) {
            margin-bottom: 20px;
          }

          button {
            background-color: #10b981;
            width: 270px;
            height: 60px;
            border-radius: 10px;
            border: none;
            font-size: 21px;
            color: #f5f5f5;
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
              background-color: #12d494;
              width: 280px;
              height: 65px;
              margin-bottom: -14px;
              margin-right: -6px;
              @media (max-width: 400px) {
                font-size: 18px;
                width: 250px;
                height: 50px;
                margin-right: 0;
                text-shadow: 1px 1px black;
              }
            }
            @media (max-width: 700px) {
              font-size: 16px;
              width: 250px;
              height: 50px;
            }
          }
          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 270px;
            height: 60px;
            text-align: center;
            color: #f5f5f5;
            font-weight: 600;
            transition: all 0.3s;
            cursor: pointer;

            &:hover {
              color: #ececec;
              font-size: 21px;
              text-shadow: 3px 3px #7654ad;
            }

            @media (max-width: 700px) {
              font-size: 16px;
              width: 250px;
              height: 50px;
            }
          }
        }
      }
    }
  }
  .second-content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;

    h3 {
      font-size: 44px;
      font-weight: 600;
      margin-top: 100px;
    }

    .second-content-box__top-change {
      width: 400px;
      height: 80px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media (max-width: 400px) {
        height: fit-content;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
      }
      .second-content-box__radio_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 90px;
        font-size: 26px;
        font-weight: 600;
        color: #f5f5f5;
        border-radius: 50%;
        @media (max-width: 400px) {
          font-size: 16px;
          width: 40%;
          height: fit-content;
        }
      }

      .second-content-box__radio_btn label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 190px;
        height: 90px;
        border-radius: 50%;
        color: #111111;
        cursor: pointer;
        transition: all 0.3s;
        @media (max-width: 400px) {
          height: 70px;
        }
      }

      .second-content-box__radio_btn input[type="radio"]:checked + label {
        background-color: #10b981;
        color: #f7f9fc;
      }

      .second-content-box__radio_btn label:hover {
        font-size: 28px;
        width: 220px;
        height: 100px;
        margin: -10px;
        @media (max-width: 400px) {
          width: 100%;
          height: 70px;
          font-size: 20px;
          margin: 0;
        }
      }

      .second-content-box__radio_btn input[type="radio"]:disabled + label {
        background: #efefef;
      }
    }

    .second-content-box__carousel {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-top: 30px;

      .second-content-box__carousel__arrows {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        transition: all 0.3s;
        cursor: pointer;
        img {
          width: 15px;
          height: 30px;
          transition: all 0.3s;
        }
        &:hover {
          img {
            width: 30px;
            height: 50px;
          }
        }
      }

      .second-content-box__carousel__block {
        width: 360px;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        @media (max-width: 1000px) {
          height: 350px;
        }
        @media (max-width: 900px) {
          height: 250px;
        }

        div {
          width: 80%;
          height: 380px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          border-radius: 15px;
          transition: all 0.7s;
          cursor: pointer;
          @media (max-width: 1000px) {
            width: 70%;
            height: 300px;
          }
          @media (max-width: 900px) {
            height: 200px;
          }
          img {
            width: 250px;
            height: 250px;
            @media (max-width: 1000px) {
              width: 200px;
              height: 200px;
            }
            @media (max-width: 900px) {
              width: 120px;
            }
            @media (max-width: 400px) {
              width: 100px;
              height: 100px;
              margin-top: 15px;
            }
          }
          &:hover {
            width: 360px;
            height: 360px;
            span {
              display: none;
            }
            img {
              width: 380px;
              height: 380px;
            }
            @media (max-width: 900px) {
              width: 260px;
              height: 380px;
              img {
                width: 220px;
                height: 220px;
              }
              div {
                display: none;
              }
            }
            @media (max-width: 430px) {
              width: 200px;
              height: 200px;
              img {
                width: 160px;
                height: 160px;
              }
              div {
                display: none;
              }
            }
          }
        }
        .second-content-box__carousel__block__main-left {
          background-color: #d8f1e3;
          @media (max-width: 400px) {
            display: none;
          }
        }
        .second-content-box__carousel__block__main-middle {
          background-color: #c9f2ff;
        }
        .second-content-box__carousel__block__main-right {
          background-color: #e5d5ff;
          @media (max-width: 400px) {
            display: none;
          }
        }
        .second-content-box__carousel__block__main-left__info {
          background-color: #f5f5f5;
          margin-bottom: 15px;
          justify-content: space-around;
          height: 75px;
          @media (max-width: 1000px) {
            width: 85%;
          }
          @media (max-width: 400px) {
            height: fit-content;
          }

          .second-content-box__carousel__block__main-left__info__name {
            font-size: 23px;
            font-weight: 300;
            @media (max-width: 1000px) {
              font-size: 18px;
              font-weight: 300;
            }
            @media (max-width: 900px) {
              font-size: 16px;
            }
          }
          span {
            font-size: 15px;
            img {
              width: 15px;
              height: 15px;
              @media (max-width: 1000px) {
                width: 10px;
                height: 10px;
              }
              @media (max-width: 900px) {
                width: 8px;
                height: 8px;
              }
            }
            @media (max-width: 1000px) {
              font-size: 12px;
            }
            @media (max-width: 900px) {
              font-size: 10px;
            }
          }
          .second-content-box__carousel__block__main-left__info__price {
            font-size: 20px;
            font-weight: 500;
            @media (max-width: 900px) {
              font-size: 13px;
            }
          }
        }

        button {
          background-color: #10b981;
          width: 80%;
          height: 60px;
          border-radius: 10px;
          border: none;
          font-size: 21px;
          color: #f5f5f5;
          transition: all 0.3s;
          cursor: pointer;
          @media (max-width: 1000px) {
            width: 70%;
            height: 40px;
            font-size: 18px;
          }
          &:hover {
            background-color: #12d494;
          }
        }
      }
      .left_box {
        @media (max-width: 400px) {
          display: none;
        }
      }
      .right_box {
        @media (max-width: 400px) {
          display: none;
        }
      }
    }
  }

  .the-third-content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;

    h3 {
      font-size: 44px;
      font-weight: 600;
      margin-top: 100px;
      text-align: center;
    }

    .the-third-content-box__top-change {
      width: 400px;
      height: 80px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      @media (max-width: 400px) {
        height: fit-content;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
      }
      .the-third-content-box__radio_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 90px;
        font-size: 26px;
        font-weight: 600;
        color: #f5f5f5;
        border-radius: 50%;
        @media (max-width: 400px) {
          font-size: 16px;
          width: auto;
          height: fit-content;
        }
      }

      .the-third-content-box__radio_btn label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 190px;
        height: 90px;
        border-radius: 50%;
        color: #111111;
        cursor: pointer;
        transition: all 0.3s;
        @media (max-width: 400px) {
          width: 100px;
        }
      }

      .the-third-content-box__radio_btn input[type="radio"]:checked + label {
        background-color: #10b981;
        color: #f7f9fc;
      }

      .the-third-content-box__radio_btn label:hover {
        font-size: 28px;
        width: 220px;
        height: 100px;
        margin: -10px;
        @media (max-width: 430px) {
          width: 100px;
          height: 80px;
          font-size: 16px;
          margin: 0;
        }
      }

      .the-third-content-box__radio_btn input[type="radio"]:disabled + label {
        background: #efefef;
      }
    }

    .the-third-content-box__carousel {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-top: 30px;
      .the-third-content-box__carousel__arrows {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        transition: all 0.3s;
        cursor: pointer;
        img {
          width: 15px;
          height: 30px;
          transition: all 0.3s;
        }
        &:hover {
          img {
            width: 30px;
            height: 50px;
          }
        }
      }
      .the-third-content-box__carousel__block {
        width: 360px;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        @media (max-width: 1000px) {
          height: 350px;
        }
        @media (max-width: 900px) {
          height: 250px;
        }

        div {
          width: 80%;
          height: 380px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          border-radius: 15px;
          transition: all 0.7s;
          cursor: pointer;
          background-color: #2a7979;
          @media (max-width: 1000px) {
            width: 70%;
            height: 300px;
          }
          @media (max-width: 900px) {
            height: 200px;
          }
          img {
            width: 250px;
            height: 250px;
            @media (max-width: 1000px) {
              width: 200px;
              height: 200px;
            }
            @media (max-width: 900px) {
              width: 120px;
              height: 120px;
            }
          }

          &:hover {
            width: 360px;
            height: 360px;
            span {
              display: none;
            }
            img {
              width: 380px;
              height: 380px;
            }
            @media (max-width: 900px) {
              width: 260px;
              height: 380px;

              img {
                width: 220px;
                height: 220px;
              }
              div {
                display: none;
              }
            }
            @media (max-width: 430px) {
              width: 200px;
              height: 200px;
              img {
                width: 160px;
                height: 160px;
              }
              div {
                display: none;
              }
            }
          }
        }
        .the-third-content-box__carousel__block__main-left {
          background-color: #b5c1cf;
        }
        .the-third-content-box__carousel__block__main-middle {
          background-color: #adceda;
        }
        .the-third-content-box__carousel__block__main-right {
          background-color: #bae7e7;
        }

        .the-third-content-box__carousel__block__main-left__info {
          background-color: #f5f5f5;
          margin-bottom: 15px;
          justify-content: space-around;
          height: 75px;

          @media (max-width: 1000px) {
            width: 85%;
          }

          .the-third-content-box__carousel__block__main-left__info {
            font-size: 23px;
            font-weight: 300;
            height: 75px;
            @media (max-width: 1000px) {
              font-size: 18px;
              font-weight: 300;
            }
          }
          span {
            font-size: 15px;
            img {
              width: 15px;
              height: 15px;
              @media (max-width: 1000px) {
                width: 10px;
                height: 10px;
              }
            }
            @media (max-width: 1000px) {
              font-size: 12px;
            }
          }

          .the-third-content-box__carousel__block__main-left__info__name {
            font-size: 23px;
            font-weight: 300;
            @media (max-width: 1000px) {
              font-size: 18px;
              font-weight: 300;
            }
            @media (max-width: 900px) {
              font-size: 16px;
            }
          }
          span {
            font-size: 15px;
            img {
              width: 15px;
              height: 15px;
              @media (max-width: 1000px) {
                width: 10px;
                height: 10px;
              }
              @media (max-width: 900px) {
                width: 8px;
                height: 8px;
              }
            }
            @media (max-width: 1000px) {
              font-size: 12px;
            }
            @media (max-width: 900px) {
              font-size: 10px;
            }
          }
          .the-third-content-box__carousel__block__main-left__info__price {
            font-size: 20px;
            font-weight: 500;
            @media (max-width: 900px) {
              font-size: 13px;
            }
          }
        }

        button {
          background-color: #10b981;
          width: 80%;
          height: 60px;
          border-radius: 10px;
          border: none;
          font-size: 21px;
          color: #f5f5f5;
          transition: all 0.3s;
          cursor: pointer;
          @media (max-width: 1000px) {
            width: 70%;
            height: 40px;
            font-size: 18px;
          }
          &:hover {
            background-color: #12d494;
          }
        }
      }
      .left_box {
        @media (max-width: 400px) {
          display: none;
        }
      }
      .right_box {
        @media (max-width: 400px) {
          display: none;
        }
      }
    }
  }

  .second-extra-section {
    .second-extra-section__header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      h3 {
        font-size: 44px;
        font-weight: 600;
        margin-top: 100px;
      }
    }
    .second-extra-section__main {
      width: auto;
      height: 500px;
      margin-top: 50px;
      background-color: #845ec2;
      display: flex;
      flex-direction: row;
      @media (max-width: 900px) {
        height: 400px;
      }

      @media (max-width: 650px) {
        height: fit-content;
        flex-direction: column;
      }
      @media (max-width: 400px) {
        border-radius: 10px;
      }

      .second-extra-section__main_left {
        width: 50%;
        height: 100%;
        @media (max-width: 650px) {
          width: auto;
        }

        .second-extra-section__main_left_imgs {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          img {
            width: 250px;
            height: 350px;
            transition: all 0.3s;
            border-radius: 90px;
            &:hover {
              width: 300px;
              height: 450px;
              z-index: 900;
            }
            @media (max-width: 1150px) {
              width: 220px;
              height: 300px;
            }
            @media (max-width: 900px) {
              width: 180px;
              height: 240px;
            }
            @media (max-width: 750px) {
              width: 150px;
              height: 200px;
            }
          }

          .second-extra-section__main_left_imgs-left {
            margin-top: 30px;
          }
          .second-extra-section__main_left_imgs-right {
            margin-top: 120px;
            &:hover {
              margin-top: 20px;
            }
          }
        }
      }
      .second-extra-section__main_right {
        width: 50%;
        height: 80%;
        @media (max-width: 650px) {
          display: flex;
          justify-content: center;
          width: auto;
        }
        .second-extra-section__main_right__information {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          h4 {
            font-size: 60px;
            text-align: center;
            color: #f5f5f5;
            font-weight: 600;
            margin-bottom: 0;
            @media (max-width: 1000px) {
              font-size: 38px;
            }
            @media (max-width: 700px) {
              font-size: 32px;
            }
          }
          span {
            color: #f5f5f5;
            @media (max-width: 1000px) {
              font-size: 18px;
            }
            @media (max-width: 700px) {
              font-size: 14px;
            }
          }
          .second-extra-section__main_right__information_text {
            //  border: black 1px solid;
            margin: 20px 0;
            font-size: 21px;
            font-weight: 400;
            @media (max-width: 900px) {
              font-size: 18px;
            }
          }
          .second-extra-section__main_right__information_price {
            // border: black 1px solid;
            margin: 20px 0;
            font-size: 31px;
            font-weight: 200;
            @media (max-width: 1000px) {
              font-size: 22px;
            }
            @media (max-width: 700px) {
              font-size: 18px;
            }
            strong {
              font-weight: 600;
              @media (max-width: 1000px) {
                font-size: 18px;
              }
              @media (max-width: 700px) {
                font-size: 16px;
              }
            }
          }
          .second-extra-section__main_right__information__buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media (max-width: 650px) {
              margin-bottom: 20px;
            }
            @media (max-width: 400px) {
              width: 90%;
              margin: 20px auto;
            }

            button {
              background-color: #10b981;
              width: 270px;
              height: 60px;
              border-radius: 10px;
              border: none;
              font-size: 21px;
              color: #f5f5f5;
              transition: all 0.3s;
              cursor: pointer;
              &:hover {
                background-color: #12d494;
                // width: 280px;
                // height: 65px;
                // margin-bottom: -14px;
                // margin-right: -15px;
              }
              @media (max-width: 700px) {
                width: 250px;
                height: 50px;
                font-size: 16px;
              }
              @media (max-width: 400px) {
                width: 50%;
              }
            }
            a {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 270px;
              height: 60px;
              margin-right: 100px;
              text-align: center;
              color: #f5f5f5;
              font-weight: 600;
              transition: all 0.3s;
              cursor: pointer;

              &:hover {
                color: #ececec;

                text-shadow: 3px 3px #7654ad;
              }
              @media (max-width: 700px) {
                width: 250px;
                height: 50px;
                font-size: 14px;
              }
              @media (max-width: 430px) {
                width: 50%;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;

  hr {
    width: 100%;
    margin-top: 0;
    border: #111111 1px solid;
  }

  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: auto;
    @media (max-width: 430px) {
      justify-content: start;
    }
  }
  .footer-top__items {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 220px;
    width: 50%;
    align-items: center;
    margin-bottom: 0;
    @media (max-width: 430px) {
      width: 100%;
    }
    p {
      font-size: 22px;
      width: 400;
    }
    button {
      height: 50px;
      width: 170px;
      margin-left: 50px;
      background-color: #10b981;
      border: none;
      border-radius: 7px;
      font-size: 17px;
      font-weight: 700;
      color: #f5f5f5;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        background-color: #12d494;
      }
    }
  }
  .footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 650px) {
      flex-direction: column;
    }
    h6 {
      font-size: 17px;
      color: #10b981;
      font-weight: 400;
    }
    p {
      font-size: 15px;
      font-weight: 400;
      color: #111111;
      cursor: pointer;
      &:hover {
        text-shadow: 1px 1px #d6d6d6;
      }
    }
    .footer-main__first-content {
      h5 {
        font-size: 22px;
        font-weight: 400;
      }
      width: 25%;
      .footer-main__search-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        input {
          border-top: none;
          border-left: none;
          border-right: none;
          background-color: #f5f5f5;
          border-bottom: #10b981 1px solid;
          height: 27px;
          outline: none;
        }
        button {
          height: 30px;
          width: 30px;
          background-color: #10b981;
          border-radius: 5px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border: none;
          transition: all 0.3s;
          cursor: pointer;

          &:hover {
            width: 40px;
            height: 40px;
            margin-top: -10px;
            img {
              width: 10px;
              height: 15px;
            }
          }
          img {
            width: 7px;
            height: 10px;
            transition: all 0.3s;
          }
        }
      }
    }

    .footer-main__second-content {
    }

    .footer-main__third-content {
    }

    .footer-main__fourth-content {
    }
  }

  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 50px 0;
    cursor: pointer;
    @media (max-width: 400px) {
      flex-direction: column;
    }
    &:hover {
      text-shadow: 1px 1px #d6d6d6;
    }

    .footer-bottom__left-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: auto;
      transition: all 0.3s;
      gap: 26px;
    }
    .footer-bottom__right-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 52px;
      height: 25px;

      @media (max-width: 400px) {
        // width: 50%;
        // justify-content: space-around;
        height: 20px;
      }

      img {
        width: 30px;
        transition: all 0.3s;
        @media (max-width: 430px) {
          width: 20px;
        }
      }
      .footer-bottom__facebook-logo {
        width: 13px;
      }
    }
  }
}
