html {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
  // background-color: aqua;
}

header {
  height: 100px;
  width: auto;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;

  .header-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 50px;
    padding: 30px;
    font-weight: 500;
    font-size: 16px;
    div {
      width: 280px;
      height: 40px;
      margin: 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .brand-name {
      border: none;
      font-family: "Montserrat";
      font-style: italic;
      font-weight: 400;
      font-size: 40px;
      line-height: 49px;
      margin-right: 20%;
    }
    .search-box {
      background: #ffffff;
      box-shadow: 0px 15px 50px rgba(46, 131, 158, 0.07);
      border-radius: 10px;
      border: none;
    }
    input {
      border: none;
      width: 80%;
      height: 30px;
      color: rgba(62, 62, 68, 0.2);
    }
    button {
      background: #10b981;
      border: none;
      border-radius: 5px;
      height: 25px;
      width: 25px;
      img {
        width: 15px;
        height: 15px;
      }
    }
  }
  .cart-box {
    border-radius: 30px;
    margin-inline: auto;
    border: 2px #10b981 solid;
    text-align: center;
    img {
      margin-right: 10px;
      width: 30px;
      height: 25px;
    }
  }
  .login-box {
    border-radius: 30px;
    text-align: center;
    background-color: #10b981;
    border: none;
    color: #f5f5f5;
    img {
      margin-right: 10px;
      width: 30px;
      height: 25px;
    }
  }
}
.rectangle {
  height: 80px;
  width: auto;
  background-color: #10b981;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    height: 30px;
    margin: 0 40px;
    width: 90px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    color: #ffffff;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.first-content-box {
  height: 100%;
  display: flex;
  justify-content: space-around;
  .first-left-content-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 64px;
      line-height: 78px;
      color: #2b2626;
    }
    p {
      width: 80%;
    }
    button {
      background-color: #10b981;
      margin: 15% 10%;
      width: 220px;
      height: 70px;
      border: none;
      border-radius: 10px;
      font-style: normal;
      font-weight: 600;
      font-size: 21px;
      color: #ffffff;
      font-family: "Montserrat";
    }
  }
  .first-left-content-box-bottom {
    flex-direction: column;
    display: flex;
    span {
      display: grid;
      grid-template-columns: [item-1-start] 33px [item-2-start] 33px [item-3-start] 33px [item-1-end] 65px [item-2-end] 130px [item-3-end];
      grid-template-rows: [item-1-start] 50px;
    }
    img {
      width: 50px;
    }
    a {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 23px;
      color: #2b2626;
    }
  }
  .first-right-content-box {
    display: flex;
    align-items: center;
    justify-content: center;

    .first-right-content-box-picture {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 370px;
      }
    }
  }
}
.extra-section {
  width: auto;
  height: 500px;
  margin-top: 50px;
  background-color: #845ec2;
  display: flex;
  flex-direction: row;
  .extra-section__left-content {
    // border: black 1px solid;
    width: 55%;
    height: 100%;
    h5 {
      //border: black 1px solid;
      font-size: 60px;
      text-align: center;
      // margin-top: 50px;
      margin: 30px 0;
      text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
      color: #845ec2;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
    }
    .extra-section__left-content__imgs {
      // z-index: 900;
      // border: black 1px solid;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 15px;
      img {
        width: 190px;
        height: 300px;
      }
      .extra-section__left-content__middle-img {
        margin-top: -40px;
      }
    }
    .extra-section__left-content__price {
      // border: black 1px solid;
      font-size: 31px;
      text-align: center;
      color: #ffffff;
      span {
        font-weight: 200;
        strong {
          font-weight: 600;
        }
      }
    }
  }
  .extra-section__right-content {
    // border: black 1px solid;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .extra-section__right-content__information {
      width: 80%;
      height: 60%;
      // border: black 1px solid;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h4 {
        font-size: 44px;
        color: #ffffff;
        margin: 0 auto;
        text-align: center;
      }
      span {
        font-size: 21px;
        color: #f5f5f5;
      }
      .extra-section__right-content__information__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        button {
          background-color: #10b981;
          width: 270px;
          height: 60px;
          border-radius: 10px;
          border: none;
          font-size: 21px;
          color: #f5f5f5;
        }
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 270px;
          height: 60px;
          text-align: center;
          // border: black 1px solid;
          color: #f5f5f5;
          font-weight: 600;
        }
      }
    }
  }
}
.second-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;

  h3 {
    font-size: 44px;
    font-weight: 600;
    margin-top: 100px;
  }

  .second-content-box__top-change {
    width: 400px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //border: black 1px solid;
    .second-content-box__top-change__left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 90px;
      font-size: 26px;
      font-weight: 600;
      // border: black 1px solid;
      color: #f5f5f5;
      background-color: #10b981;
      border-radius: 50%;
    }
    .second-content-box__top-change__right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 90px;
      font-size: 26px;
      font-weight: 600;

      //x  border: black 1px solid;
    }
  }

  .second-content-box__carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    //  border: black 1px solid;
    .second-content-box__carousel__arrows {
      width: 10px;
      height: 20px;
      margin: 200px 35px;
    }
    .second-content-box__carousel__block {
      width: 360px;
      height: 450px;
      //  border: black 1px solid;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;

      div {
        // border: black 1px solid;
        width: 80%;
        height: 380px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        img {
          width: 250px;
          height: 250px;
        }
      }
      .second-content-box__carousel__block__main-left {
        background-color: #d8f1e3;
      }
      .second-content-box__carousel__block__main-middle {
        background-color: #c9f2ff;
      }
      .second-content-box__carousel__block__main-right {
        background-color: #e5d5ff;
      }
      .second-content-box__carousel__block__main-left__info {
        background-color: #f5f5f5;
        margin-bottom: 15px;
        justify-content: space-around;
        // align-items: flex-start;

        .second-content-box__carousel__block__main-left__info__name {
          font-size: 23px;
          font-weight: 300;
        }

        span {
          img {
            width: 15px;
            height: 15px;
          }
          font-size: 15px;
        }
        .second-content-box__carousel__block__main-left__info__price {
          font-size: 20px;
          font-weight: 500;
        }
      }

      button {
        background-color: #10b981;
        width: 290px;
        height: 60px;
        border-radius: 10px;
        border: none;
        font-size: 21px;
        color: #f5f5f5;
        font-weight: 400;
      }
    }
  }
}

.the-third-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;

  h3 {
    font-size: 44px;
    font-weight: 600;
    margin-top: 100px;
  }

  .the-third-content-box__top-change {
    width: 400px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //border: black 1px solid;
    .the-third-content-box__top-change__left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 90px;
      font-size: 26px;
      font-weight: 600;
      // border: black 1px solid;
      color: #f5f5f5;
      background-color: #10b981;
      border-radius: 50%;
    }
    .the-third-content-box__top-change__middle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 90px;
      font-size: 26px;
      font-weight: 600;
    }
    .the-third-content-box__top-change__right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 90px;
      font-size: 26px;
      font-weight: 600;

      //x  border: black 1px solid;
    }
  }

  .the-third-content-box__carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    //  border: black 1px solid;
    .the-third-content-box__carousel__arrows {
      width: 10px;
      height: 20px;
      margin: 200px 35px;
    }
    .the-third-content-box__carousel__block {
      width: 360px;
      height: 450px;
      //  border: black 1px solid;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;

      div {
        // border: black 1px solid;
        width: 80%;
        height: 380px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        img {
          width: 250px;
          height: 250px;
        }
      }
      .the-third-content-box__carousel__block__main-left {
        background-color: #e0efff;
      }
      .the-third-content-box__carousel__block__main-middle {
        background-color: #e8f9ff;
      }
      .the-third-content-box__carousel__block__main-right {
        background-color: #d3fbfb;
      }
      .the-third-content-box__carousel__block__main-left__info {
        background-color: #f5f5f5;
        margin-bottom: 15px;
        justify-content: space-around;
        // align-items: flex-start;

        .the-third-content-box__carousel__block__main-left__info__name {
          font-size: 23px;
          font-weight: 300;
        }

        span {
          img {
            width: 15px;
            height: 15px;
          }
          font-size: 15px;
        }
        .the-third-content-box__carousel__block__main-left__info__price {
          font-size: 20px;
          font-weight: 500;
        }
      }

      button {
        background-color: #10b981;
        width: 290px;
        height: 60px;
        border-radius: 10px;
        border: none;
        font-size: 21px;
        color: #f5f5f5;
        font-weight: 400;
      }
    }
  }
}

.second-extra-section {
  .second-extra-section__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    h3 {
      font-size: 44px;
      font-weight: 600;
      margin-top: 100px;
    }
  }
  .second-extra-section__main {
    width: auto;
    height: 500px;
    margin-top: 50px;
    background-color: #845ec2;
    display: flex;
    flex-direction: row;
    .second-extra-section__main_left {
      width: 50%;
      height: 100%;
      // border: black 1px solid;
      .second-extra-section__main_left_imgs {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        img {
          width: 190px;
          height: 300px;
          border-radius: 90px;
        }
        .second-extra-section__main_left_imgs-left {
          margin-top: 50px;
        }
        .second-extra-section__main_left_imgs-right {
          margin-top: 150px;
        }
      }
    }
    .second-extra-section__main_right {
      width: 50%;
      height: 80%;
      .second-extra-section__main_right__information {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        h4 {
          font-size: 60px;
          text-align: center;
          color: #f5f5f5;
          font-weight: 600;
          margin-bottom: 0;
        }
        span {
          color: #f5f5f5;
        }
        .second-extra-section__main_right__information_text {
          //  border: black 1px solid;
          margin: 20px 0;
          font-size: 21px;
          font-weight: 400;
        }
        .second-extra-section__main_right__information_price {
          // border: black 1px solid;
          margin: 20px 0;
          font-size: 31px;
          font-weight: 200;
          strong {
            font-weight: 600;
          }
        }
        .second-extra-section__main_right__information__buttons {
          //border: black 1px solid;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          button {
            background-color: #10b981;
            width: 50%;
            height: 50px;
            border-radius: 10px;
            border: none;
            margin-bottom: 20px;
            color: #f5f5f5;
            font-size: 21px;
            font-weight: 100;
          }
          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            height: 50px;
            text-align: center;
            //  border: black 1px solid;
            color: #f5f5f5;
            font-weight: 600;
          }
        }
      }
    }
  }
}
