html {
  font-family: "Montserrat", sans-serif;
}

header {
  height: 100px;
  width: auto;
  border: 1px black solid;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
}
header .header-bar {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 50px;
  padding: 30px;
  font-weight: 500;
  font-size: 16px;
}
header .header-bar div {
  width: 280px;
  height: 40px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-bar .brand-name {
  border: none;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  width: inherit;
}
header .header-bar .search-box {
  background: #ffffff;
  box-shadow: 0px 15px 50px rgba(46, 131, 158, 0.07);
  border-radius: 10px;
  border: none;
}
header .header-bar input {
  border: none;
  width: 80%;
  height: 30px;
  color: rgba(62, 62, 68, 0.2);
}
header .header-bar button {
  background: #10b981;
  border: none;
  border-radius: 5px;
  height: 25px;
  width: 25px;
}
header .header-bar button img {
  width: 15px;
  height: 15px;
}
header .cart-box {
  border-radius: 30px;
  margin-inline: auto;
  border: 2px #10b981 solid;
  text-align: center;
}
header .cart-box img {
  margin-right: 10px;
  width: 30px;
  height: 25px;
}
header .login-box {
  border-radius: 30px;
  text-align: center;
  background-color: #10b981;
  border: none;
  color: #f5f5f5;
}
header .login-box img {
  margin-right: 10px;
  width: 30px;
  height: 25px;
}

.rectangle {
  height: 80px;
  width: auto;
  border: 1px black solid;
  background-color: #10b981;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle a {
  height: 30px;
  margin: 0 40px;
  width: 90px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  color: #ffffff;
}

.first-content-box {
  border: black 1px solid;
  height: 100%;
  display: flex;
}
.first-content-box .first-left-content-box {
  border: black 1px solid;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 45px;
}
.first-content-box .first-left-content-box h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;
  color: #2b2626;
}
.first-content-box .first-left-content-box p {
  width: 80%;
}
.first-content-box .first-left-content-box button {
  background-color: #10b981;
  width: 220px;
  height: 70px;
  border: none;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  color: #ffffff;
  font-family: "Montserrat";
}
.first-content-box .first-left-content-box-bottom {
  margin-top: auto;
  margin-bottom: 0;
  flex-direction: column;
  display: flex;
}
.first-content-box .first-left-content-box-bottom button {
  margin: 40% 0;
}
.first-content-box .first-left-content-box-bottom span {
  display: grid;
  grid-template-columns: [item-1-start] 33px [item-2-start] 33px [item-3-start] 33px [item-1-end] 65px [item-2-end] 130px [item-3-end];
  grid-template-rows: [item-1-start] 50px;
}
.first-content-box .first-left-content-box-bottom img {
  width: 50px;
}
.first-content-box .first-left-content-box-bottom a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  color: #2b2626;
}
.first-content-box .first-right-content-box .first-right-content-box-picture img {
  width: 400px;
}/*# sourceMappingURL=style.css.map */